*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
    padding: 90px 70px;
    height: 800px;
}
.mean{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    color: #ffffff;
}
.grid{
   background-color: #ffffff;
   width: 100%;
   /*width: 96%;*/
   height: 170px 100%;
   /*border: 1px solid black;*/
   display: flex;
   align-items: center;
   justify-content: center;

}
.container{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-auto-rows: minmax(170px, auto);
    grid-template-columns: 26% 20% 26% 28%;
    grid-gap: 10px;
    justify-content: center;
    grid-template-rows: minmax(100px, auto); 
    /*grid-template-areas:
		"mason resp header header"
		"mason fluid black negat"
		"flex mas black maas"
		"dom mas footer footer";*/
}
.masonry{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.over{
    grid-column-start: 3;
    grid-column-end: 5;
}
.named{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
}
.expli{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.mason-iii{
    grid-column-start: 4;s
}
.breadth{
    grid-row-start: 3;
}
.mason-ii{
    grid-row-start: 3;
    grid-row-end: 5;
}
